# Assignment 1

## Loading data

In [1]:
from aa import DataLoader
from aa import extract_features
from aa import check_output

In [2]:
# IN THIS BOX YOU ARE ALLOWED TO ADD ANY CODE FOR SETTING UP A PYTORCH DEVICE

In [3]:
dataset = DataLoader(data_dir="/home/guserbto@GU.GU.SE/lt2316-h20-aa/DDICorpus", device='cuda:1')

/usr/local/lib64/python3.7/site-packages/pandas/core/generic.py:5209: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [4]:
dataset.data_df.head()

            sentence_id  token_id  char_start_id  char_end_id split
0  DDI-DrugBank.d610.s0       1.0            0.0         14.0  Test
1  DDI-DrugBank.d610.s0       2.0           16.0         25.0  Test
2  DDI-DrugBank.d610.s0       3.0           27.0         28.0  Test
3  DDI-DrugBank.d610.s0       4.0           30.0         37.0  Test
4  DDI-DrugBank.d610.s0       5.0           39.0         42.0  Test

In [5]:
dataset.ner_df.head()

            sentence_id  ner_id  char_start_id  char_end_id
0  DDI-DrugBank.d610.s0       3             30           37
1  DDI-DrugBank.d610.s0       3             82           91
2  DDI-DrugBank.d610.s0       3             96          105
3  DDI-DrugBank.d610.s0       3            129          138
4  DDI-DrugBank.d610.s0       3            144          153

In [6]:
dataset.vocab[:15]

['Pharmacokinetic',
 'properties',
 'of',
 'abacavir',
 'were',
 'not',
 'altered',
 'by',
 'the',
 'addition',
 'either',
 'lamivudine',
 'or',
 'zidovudine',
 'combination']

In [7]:
dataset.id2ner

{0: 'none', 1: 'group', 2: 'drug_n', 3: 'drug', 4: 'brand'}

In [8]:
dataset.max_sample_length

165

In [9]:
dataset.get_random_sample()

/home/guserbto@GU.GU.SE/lt2316-h20-aa/aa/data_loading.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_tokens["token"] = sample_tokens.loc[:,"token_id"].apply(decode_word)

'Evidence supporting the conclusion that it is inadvisable to co administer DRUG:fluvoxamine and DRUG:diazepam is derived from a study in which healthy volunteers taking 150 mg/day of DRUG:fluvoxamine were administered a single oral dose of 10 mg of DRUG:diazepam .'

### Data Exploration

In [10]:
dataset.plot_split_ner_distribution()

### Labels

In [11]:
train_y, val_y, test_y = check_output(dataset.get_y())

Unique sent in Train:  5870
Unique sent in Val:  1035
Unique sent in Test:  1964
labeling
len of df_as_list:  127736
len of ner_df_as_list:  18541
labeling
len of df_as_list:  45556
len of ner_df_as_list:  18541
labeling
len of df_as_list:  22653
len of ner_df_as_list:  18541
wow the long sentence
val labels: 1035
test labels: 1684
test labels: 5870

## Extracting Features

In [12]:
train_X, val_X, test_X = check_output(extract_features(
                                                        data=dataset.data_df,
                                                        max_sample_length=dataset.max_sample_length,
                                                        #Add any addtional arguments here
                                                       ))

TypeError: 'NoneType' object is not iterable

## Bonus Part: Explore Some more

In [ ]:
#uncomment the code below if you want to do bonus part

In [ ]:
#dataset.plot_ner_per_sample_distribution()

In [ ]:
#dataset.plot_sample_length_distribution()

In [ ]:
#dataset.plot_ner_cooccurence_venndiagram()