# Assignment 1

## Loading data

In [1]:
from aa import DataLoader
from aa import extract_features
from aa import check_output

In [2]:
# IN THIS BOX YOU ARE ALLOWED TO ADD ANY CODE FOR SETTING UP A PYTORCH DEVICE

In [3]:
dataset = DataLoader(data_dir="/home/guserbto@GU.GU.SE/lt2316-h20-aa/DDICorpus", device='cuda:1')

/usr/local/lib64/python3.7/site-packages/pandas/core/generic.py:5209: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [4]:
dataset.data_df.head()

            sentence_id  token_id  char_start_id  char_end_id split
0  DDI-DrugBank.d644.s0       1.0            0.0          3.0  Test
1  DDI-DrugBank.d644.s0       2.0            5.0         16.0  Test
2  DDI-DrugBank.d644.s0       3.0           18.0         21.0  Test
3  DDI-DrugBank.d644.s0       4.0           23.0         30.0  Test
4  DDI-DrugBank.d644.s0       5.0           32.0         34.0  Test

In [5]:
dataset.ner_df.head()

            sentence_id  ner_id  char_start_id  char_end_id
0  DDI-DrugBank.d644.s0       3            142          155
1  DDI-DrugBank.d644.s2       3             62           69
2  DDI-DrugBank.d644.s2       1             71           82
3  DDI-DrugBank.d644.s2       3             84           92
4  DDI-DrugBank.d644.s2       4             95          102

In [6]:
dataset.vocab[:15]

['Drug',
 'Interactions',
 'This',
 'medicine',
 'may',
 'be',
 'affected',
 'by',
 'the',
 'drug',
 'cholestyramine',
 'and',
 'should',
 'not',
 'taken']

In [7]:
dataset.id2ner

{0: 'none', 1: 'group', 2: 'drug_n', 3: 'drug', 4: 'brand'}

In [8]:
dataset.max_sample_length

165

In [9]:
dataset.get_random_sample()

/home/guserbto@GU.GU.SE/lt2316-h20-aa/aa/data_loading.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_tokens["token"] = sample_tokens.loc[:,"token_id"].apply(decode_word)

'No abortifacient or teratogenic effects were observed in cynomolgus monkeys following intravenous bolus injections of BRAND:AMEVIVE administered weekly during the period of organogenesis to gestation .'

### Data Exploration

In [10]:
dataset.plot_split_ner_distribution()

### Labels

In [11]:
train_y, val_y, test_y = check_output(dataset.get_y())

Unique sent in Train:  5870
Unique sent in Val:  1035
Unique sent in Test:  665
labeling...
Train labeled sent: 5870
labeling...
Val labeled sent: 1035
labeling...
Test labeled sent: 665

## Extracting Features

In [12]:
train_X, val_X, test_X = check_output(extract_features(
                                                        data=dataset.data_df,
                                                        max_sample_length=dataset.max_sample_length,
                                                        sample_length_dict=dataset.sample_length_dict,
                                                        id2word=dataset.id2word,
                                                       ))

extracting features
Unique sent in Train:  5870
Unique sent in Val:  1035
Unique sent in Test:  665
Val pos-tagged sent: 1035
Test pos-tagged sent: 665
Train pos-tagged sent: 5870
id2pos:  {1: 'NN', 2: ':', 3: 'IN', 4: 'NNS', 5: 'CC', 6: 'DT', 7: 'VBN', 8: '.', 9: 'JJ', 10: 'VBZ', 11: 'RB', 12: 'TO', 13: 'PRP$', 14: ',', 15: 'MD', 16: 'VB', 17: 'VBD', 18: 'NNP', 19: 'VBG', 20: 'VBP', 21: 'WDT', 22: 'CD', 23: '(', 24: ')', 25: 'EX', 26: 'JJS', 27: 'WP', 28: 'JJR', 29: 'FW', 30: '#', 31: 'PRP', 32: '$', 33: 'WRB', 34: 'POS', 35: 'RBR', 36: 'UH', 37: 'RP', 38: 'WP$', 39: 'NNPS', 40: 'PDT', 41: 'RBS', 42: '``', 43: "''", 44: 'LS'}

## Bonus Part: Explore Some more

In [13]:
#uncomment the code below if you want to do bonus part

In [14]:
#dataset.plot_ner_per_sample_distribution()

In [15]:
#dataset.plot_sample_length_distribution()

In [16]:
#dataset.plot_ner_cooccurence_venndiagram()